.main__sidebar {

}

.centerblock__search {
  
}

.centerblock__h2 {

}

.centerblock__filter {

}

.centerblock__filter_item {

}

.search__svg {

}

.search__text {

}

.search__text::-webkit-input-placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text:-ms-input-placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text::-ms-input-placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search__text::placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.filter__title {

}

.filter__button {

}

.button__active {

}

.content__playlist {

}

.playlist__item {

}

.playlist__track {

  
}

.track__title {

}

.track__title-image {

}

.track__title-svg {

}

.track__title-link {

}

.track__title-span {

}

.track__author {

}

.track__author-link {

}

.track__album {

}

.track__album-link {

}

.track__time-svg {

}

.track__time-text {

}